<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XZMortgageCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE2D31EC1F58FC810065F46F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2D32001F58FC810065F46F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2D320B1F58FC810065F46F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
